<header class="header">

    <div class="header">
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/books">Catalog</a>
            {{#if user}}
                <a href="/books/profile">Profile</a>
                <a href="/books/create">Create Review</a>
                <a href="/auth/logout">Logout</a>
            {{else}}
                <a href="/auth/login">Login</a>
                <a href="/auth/register">Register</a>
            {{/if}}
        </nav>
    </div>

</header>