<header class="header">

    <div class="header">
        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">Catalog</a>
            <!--Only for logged user-->
            <a href="#">Profile</a>
            <a href="#">Create Review</a>
            <a href="#">Logout</a>
            <!--Only for guest-->
            <a href="#">Login</a>
            <a href="#">Register</a>
        </nav>
    </div>

</header>