<header>
    <!-- Navigation -->
    <nav>
        <div>
            <a href="/">Home</a>
            <a href="/stones">Dashboard</a>
            <a href="/stones/search">Search</a>
        </div>

        <!-- Logged-in users -->
        <div class="user">
            <a href="/stones/create">Add Stones</a>
            <a href="/auth/logout">Logout</a>
        </div>

        <!-- Guest users -->
        <div class="guest">
            <a href="/auth/login">Login</a>
            <a href="#">Register</a>
        </div>
    </nav>
</header>