<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>

    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>

    <div class="box">

        {{#if messages}}
            {{> messages}}
        {{/if}}

        {{> header}}

        <main>
            {{{body}}}
        </main>

        <footer>
            <p>©Js Back-End Final Exam 2022</p>
        </footer>
    </div>

</body>

</html>