<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Do not forget to change the path to the css file -->
    <title>{{pageTitle}}</title>
    <link href="../../css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">

        {{#if messages}}
            {{> messages}}
        {{/if}}

        {{> header}}

        <main>
            {{{body}}}
        </main>

        <footer>
            © 2021
        </footer>
    </div>

</body>

</html>