<nav>
    <a href="/">Home</a>
    <ul>
        <!-- Guest users and Logged users -->
        <li><a href="/housings">Housing for rent</a></li>
        {{#unless user}}
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/register">Register</a></li>
        {{else}}
            <li><a href="/housings/create">Create offer</a></li>
            <li><a href="/housings/search">Search</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        {{/unless}}
    </ul>
</nav>