<header>
    <!-- Navigation -->
    <nav>
        <div>
            <a href="#">Home</a>
            <a href="#">Dashboard</a>
            <a href="#">Search</a>
        </div>

        <!-- Logged-in users -->
        <div class="user">
            <a href="#">Add Animal</a>
            <a href="#">Logout</a>
        </div>

        <!-- Guest users -->
        <div class="guest">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </nav>
</header>