<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Second Hand Electronics</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>

<body>
    {{#if messages}}
        {{> messages}}
    {{/if}}

    <div id="container">

        {{> header}}

        {{{body}}}

        <footer>@SoftUni - JS Back-End - Second Hand Electronics 2023</footer>
    </div>

</body>

</html>