<nav>
    <!-- Do not forget to change the path to the image -->
    <img src="../../img/art-logo.png" alt="logo">
    <a href="/">ArtGallery</a>

    <ul class="menu">
        <li><a href="/publications">Gallery</a></li>
        <!-- Logged users -->
        <li><a href="/publications/create">Create Publication</a></li>
        <li><a href="/auth/profile">Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <!-- Guest users -->
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/register">Register</a></li>
    </ul>

</nav>