<header>
    <div class="container">
        <h1>TechStore</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/devices">Catalog</a></li>
                <li><a href="/about">About</a></li>                
                {{#if user}}
                    <li><a href="/devices/profile">Profile</a></li>
                    <li><a href="/devices/create">Create Offer</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                {{else}}
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/auth/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>
</header>