<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/styles.css" />
    <title>{{pageTitle}}</title>
</head>

<body>

    {{#if messages}}
        {{> messages}}
    {{/if}}

    <div id="wrapper">
        {{> header}}

        {{{body}}}

        <footer>
            <p>@EarthTreasureVaul</p>
        </footer>
    </div>
</body>

</html>