<nav>
    <ul>
        <!--For all users-->
        <li><a href="/">Home</a></li>
        <li><a href="/electronics">Catalog</a></li>
        <!--For loggin users-->
        <li><a href="/electronics/create">Create Offer</a></li>
        <li><a href="/electronics/search">Search</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <!--For guest user-->
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/register">Register</a></li>
    </ul>
</nav>